<!-- Jumbotron Hero -->
<div class="jumbotron hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="row">
          <div class="jumbotron inner-hero">
            <h1 class="header">{{ site.data.settings.hero.header }}</h1>
            <div class="text">{{ site.data.settings.hero.text }}</div>
            <div class="button">
              <a class="btn btn-primary btn-lg btn-custom" href="{{ site.data.settings.hero-button.url }}" role="button">{{ site.data.settings.hero-button.title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
