<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row">
                    <div class="jumbotron">
                        <h1 class="hero-text-h">Welcome to DemonWolfDev</h1>
                        <div class="hero-text-p">
                            Are you passionate about tech, computers, creativity, and gaming? Grow with our community towards your goals. Join us today!
                        </div>
                    </div><a class="btn btn-primary btn-lg btn-learn_more" href="#learn" role="button">Learn More.</a>
                </div>
            </div>
        </div>
    </div>
</div>