<div class="container" id="ofter">
    <div class="row">
        {% for item in site.data.settings.ofter %}
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <i class="fa {{ item.icon }} ofter-icons" aria-hidden="true"></i>
                </div>
                <div class="media-body media-body-center">
                    <div class="ofter-header">{{ item.name }}</div>
                </div>
                <div class="col-md-12">
                    <div class="ofter-description">{{ item.description}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>