// -----------------------------------------------------------------------------
// This file contains all styles related to the social icons of the site/application.
// -----------------------------------------------------------------------------
.twitter-color {
    color: $twitter-color;

    &:hover {
        color: darken($twitter_color, 10%) !important;
        transition: all 700ms;
    }
}

.youtube-color {
    color: $google_plus-color;

    &:hover {
        color: darken($google_plus-color, 10%) !important;
        transition: all 700ms;
    }
}

.google_plus-color {
    color: $google_plus-color;

    &:hover {
        color: darken($google_plus-color, 10%) !important;
        transition: all 700ms;
    }
}

.twitch-color {
    color: $twitch-color;

    &:hover {
        color: darken($twitch-color, 10%) !important;
        transition: all 700ms;
    }
}

.facebook-color {
    color: $facebook-color;

    &:hover {
        color: darken($facebook-color, 10%) !important;
        transition: all 700ms;
    }
}

// Border Hover
.twitter-color_border {
    &:hover {
        border: 2px soild darken($twitter_color, 10%);
        transition: all 700ms;
    }
}

.youtube-color_border {
    &:hover {
        border: 2px soild darken($google_plus-color, 10%);
        transition: all 700ms;
    }
}

.google_plus-color_border {
    &:hover {
        border: 2px soild darken($google_plus-color, 10%);
        transition: all 700ms;
    }
}

.twitch-color_border {
    &:hover {
        border: 2px soild darken($twitch-color, 10%);
        transition: all 700ms;
    }
}

.facebook-color_border {
    &:hover {
        border: 2px soild darken($facebook-color, 10%);
        transition: all 700ms;
    }
}

// Background
.twitter-color_background {
    background-color: $twitter-color;

    &:hover {
        background-color: darken($twitter_color, 10%) !important;
    }
}

.youtube-color_background {
    background-color: $google_plus-color;

    &:hover {
        background-color: darken($google_plus-color, 10%) !important;
    }
}

.google-plus-color_background {
    background-color: $google-plus-color;

    &:hover {
        background-color: darken($google-plus-color, 10%) !important;
    }
}

.twitch-color_background {
    background-color: $twitch-color;

    &:hover {
        background-color: darken($twitch-color, 10%) !important;
    }
}

.facebook-color_background {
    background-color: $facebook-color;

    &:hover {
        background-color: darken($facebook-color, 10%) !important;
    }
}
