// Import
@import "_partials/mixins";
@import "_partials/typography";
@import "_partials/variables";
@import "_global/nav";
@import "_global/social-icons";
@import "_global/footer";
@import "_component/hero";
@import "_component/cta";
@import "_component/ofter";
@import "_component/about";
@import "_component/legal";
// Jumbotron 
.jumbotron {
    background-color: transparent !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
// Custom spaceings
.big-content-top {
	padding-top: 30px;
}
.big-content-bottom {
	padding-bottom: 30px;
}
.small-content-top {
	padding-top: 10px;
}
.small-content-bottom {
	padding-bottom: 10px;
}
// Center Col
.col-centered {
    float: none;
    margin: 0 auto;
}
// Center Text in Col
.text-centered {
    text-align: center;
}
.media-body-center {
    vertical-align: middle;
}
// Sections  
#hero {
}
#ofter {
  padding-top: 50px;
  padding-bottom: 50px;
}
#about {
  padding-top: 50px;
  padding-bottom: 50px;
}
#cta {
  padding-bottom: 1px !important;
}
.hero {

}
.ofter {

}
.about {
  background-color: $brand-color-alt-2;
}
.cta {

}