// Import
@import "_partials/mixins";
@import "_partials/typography";
@import "_partials/variables";
@import "_global/nav";
@import "_global/footer";
@import "_component/jumotron";
@import "_component/ofter";
@import "_component/donorbox";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 42px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
@media (max-width: 991px) {
    body {
      margin-bottom: 112px;
    }
}

// Center Row
.row-centered {
    text-align:center;
}
// Center Col
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
// Center Text in Col
.text-centered {
    text-align: center;
}
.media-body-center {
    vertical-align: middle;
}