// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html,
body {
    height: 100%;

    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;

    /* Negative indent footer by its height */
    margin: 0 auto -60px;

    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 100px;
}

@media (max-width: 768px) {
    #footer {
        height: 140px;
    }
}

// Jumbotron
.jumbotron {
    background-color: transparent !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

// Custom spaceings
.big-content-top {
    padding-top: 30px;
}

.big-content-bottom {
    padding-bottom: 30px;
}

.small-content-top {
    padding-top: 10px;
}

.small-content-bottom {
    padding-bottom: 10px;
}

// Center Col
.col-centered {
    float: none;
    margin: 0 auto;
}

// Center Text in Col
.text-centered {
    text-align: center;
}

.media-body-center {
    vertical-align: middle;
}

// Sections
#hero {}

#ofter {
    padding-top: 50px;
    padding-bottom: 50px;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
}

#cta {
    padding-bottom: 1px !important;
}
