.about-col {
    
}
.about_header {
<<<<<<< HEAD
<<<<<<< HEAD
=======
    color: #ffffff;
>>>>>>> devlop
=======
    color: #ffffff;
>>>>>>> devlop
    font-size: 2em;
    text-align: center;
}
.about_text {
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 1.25em;
}
=======
    color: #ffffff;
    font-size: 1.35em;
}
>>>>>>> devlop
=======
    color: #ffffff;
    font-size: 1.35em;
}
>>>>>>> devlop
