/* hero.scss */

.hero { 
    padding-top: 70px !important;
    text-align: center;
    color: white;
    background: url(#{$site-url}/img/hero_bg.jpg) no-repeat bottom center;
    background-size: cover;
    height: 100%;
	padding-top: 8%;
    padding-bottom: 8%;
}
.hero-body {
    display: table-cell;
    vertical-align: middle;
}
.hero-heading {
    font-size: 2em;
}
.hero-text {
	color: #ffffff;
	font-family: $main-font;
	font-size: 2em;
	display: inline-block;
}
.btn {
    border-radius: 5px;
    margin: 21px 0 0 0;
    font-weight:700;
}
.btn.btn-learn_more {
    color: $button_background_effect_font;
    background-color: $button_background_effect;
    // border-bottom: 4px solid #ddd;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover , .btn-primary:hover {
    background: #fff;
    color: #666;
    // border-color: #ddd;
  	transition: all 500ms;
		-webkit-transition: all 500ms;
		-moz-transition: all 500ms;
}