/* hero.scss */
.jumbotron_hero {
    text-align: center;
    color: white;
    background: url(#{$site-url}/img/hero_bg.jpg) no-repeat bottom center;
    background-size: cover;
    height: 100%;
}
.hero-body {
    display: table-cell;
    vertical-align: middle;
}
.hero-header {
    font-size: 2em;
}
.hero-text {
	color: #ffffff;
	font-family: $main-font;
	font-size: 1.25em;
	display: inline-block;
}

.btn.btn-learn_more {
    color: $button_background_effect_font;
    background-color: $button_background_effect;
    // border-bottom: 4px solid #ddd;
    border-radius: 5px;
    margin: 21px 0 0 0;
    font-weight:700;
    border-color: transparent;
}
.btn-learn_more.active.focus, .btn-learn_more.active:focus, .btn-learn_more.active:hover, .btn-learn_more:active.focus, .btn-learn_more:active:focus, .btn-learn_more:active:hover , .btn-learn_more:hover {
    background: darken($button_background_effect, 6%);
    color: button_background_effect_font;
    // border-color: #ddd;
  	transition: all 500ms;
		-webkit-transition: all 500ms;
		-moz-transition: all 500ms;
}