.ofter-icons {
    font-size: 58px;
}
@media (max-width: 768px) {
    .ofter-icons {
        font-size: 48px;
    }
}
.ofter-header {
    
}
.ofter-description {

}
.col-ofter-description {
    padding-left: 0px;
}